## Import libraries and data

In [1]:
import pandas as pd
import numpy as np

### Import ECCC 2021 and 2022 Data

In [2]:
# read from CSV, skip first 7 rows of non-data info
skiprows = [0,1,2,3,4,5,6]
df_2021 = pd.read_csv('PM25_2021.csv', skiprows=skiprows)
df_2022 = pd.read_csv('PM25_2022.csv', skiprows=skiprows)

# combine into 1 dataframe
df_eccc = pd.concat([df_2021, df_2022])

### Data Cleaning
1. drop unused columns
2. convert dates to pandas timestamp datatype
3. make each hour header to a pandas timestamp datatype for easier processing

In [3]:
# names of columns in CSV to drop
cols_to_drop = ['Province/Territory//Province/Territoire', 'Pollutant//Polluant', 'Method Code//Code Méthode', 
                'NAPS ID//Identifiant SNPA', 'City//Ville']

# drop the columns
df_eccc.drop(cols_to_drop, axis=1, inplace=True)

# set -999 to NaN, then drop all NaNs
df_eccc = df_eccc.replace(-999, np.NaN)
df_eccc = df_eccc.dropna()

# change hours to just an integer
new_names = dict(zip(df_eccc.columns.tolist()[3:27], np.arange(24)))
df_eccc = df_eccc.rename(columns=new_names)

# convert column to be dates of pandas timestamp datatype
df_eccc['Date//Date'] = pd.to_datetime(df_eccc['Date//Date'])

In [4]:
df_eccc.head()

,Latitude//Latitude,Longitude//Longitude,Date//Date,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,45.64103,-73.49968,2021-01-01,15.0,10.0,4.0,1.0,8.0,11.0,9.0,...,5.0,5.0,6.0,7.0,10.0,8.0,7.0,9.0,9.0,8.0
1,45.64103,-73.49968,2021-01-02,7.0,8.0,8.0,8.0,7.0,7.0,8.0,...,4.0,7.0,12.0,10.0,12.0,16.0,18.0,15.0,11.0,9.0
2,45.64103,-73.49968,2021-01-03,11.0,10.0,12.0,12.0,16.0,14.0,14.0,...,10.0,11.0,17.0,28.0,32.0,31.0,30.0,23.0,22.0,20.0
3,45.64103,-73.49968,2021-01-04,16.0,15.0,15.0,15.0,15.0,14.0,16.0,...,16.0,16.0,20.0,20.0,23.0,30.0,30.0,27.0,18.0,15.0
4,45.64103,-73.49968,2021-01-05,12.0,16.0,18.0,20.0,20.0,17.0,14.0,...,3.0,3.0,5.0,5.0,4.0,5.0,8.0,8.0,7.0,9.0

In [5]:
df_eccc.tail()

,Latitude//Latitude,Longitude//Longitude,Date//Date,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
93070,60.00455,-111.89324,2022-12-27,1.0,2.0,1.0,2.0,1.0,1.0,1.0,...,1.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,2.0
93071,60.00455,-111.89324,2022-12-28,2.0,2.0,1.0,3.0,1.0,1.0,1.0,...,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
93072,60.00455,-111.89324,2022-12-29,4.0,3.0,3.0,2.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0
93073,60.00455,-111.89324,2022-12-30,1.0,2.0,3.0,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,2.0,2.0,5.0,5.0,5.0,4.0,4.0
93074,60.00455,-111.89324,2022-12-31,3.0,4.0,4.0,4.0,4.0,3.0,3.0,...,5.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,5.0

---

## Save to file

In [7]:
df_eccc.to_csv('PM25_2021_2022.csv')